<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Submit Goals</title>
    <link rel="stylesheet" th:href="@{/css/styles2.css}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="title">Submit Goals</div>
        <div class="menu">
            <a href="#">Menu Item 1</a>
            <a href="#">Menu Item 2</a>
            <a href="#">Menu Item 3</a>
            <!-- Add more menu items as needed -->
        </div>
        <div class="main-content">
            <h1>Submit Goals</h1>
            <form th:action="@{/submit-goals}" method="post" class="login-container">
                <div th:each="lookup, index : ${potentialGoals}">
                    <div class="form-group">
                        <input type="checkbox" th:field="${goals}" th:value="${lookup.name}" class="lookupCheckbox" />
                        <label th:text="${lookup.name + ' - ' + lookup.description}"></label>
                    </div>
                    <div th:attr="data-name=${lookup.name}" class="monthsInput" style="display: none;">
                        <label>Months:</label>
                        <input type="text" th:field="*{goals[__${index.index}__].month}" />
                    </div>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".lookupCheckbox").change(function () {
                const lookupName = $(this).data("name");
                const monthsInput = $(".monthsInput[data-name='" + lookupName + "']");

                if ($(this).prop("checked")) {
                    monthsInput.show();
                } else {
                    monthsInput.hide();
                }
            });
        });
    </script>
</body>
</html>
