<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register New User</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container">

   		<div th:replace="fragments :: top-bar-unauth"></div>


	    <h1> Register New User</h1>
	    <form action="#" th:action="@{/register-submit}" th:object="${user}" method="post" class="login-container" >
	        <div class="form-group">
	            <label for="name">Name:</label>
	            <input type="text" id="name" th:field="*{name}" required>
	        </div>
	        <div class="form-group">
	            <label for="userName">User Name:</label>
	            <input type="text" id="userName" th:field="*{userName}" required>
	        </div>
	        <div class="form-group">
	            <label for="password">Password:</label>
	            <input type="text" id="password" th:field="*{password}" required>
	        </div>
	        <div class="form-group">
	            <label for="email">Email:</label>
	            <input type="email" id="email" th:field="*{email}" required>
	        </div>
	        <div class="form-group">
	            <label for="text">Phone Number:</label>
	            <input type="text" id="text" th:field="*{phoneNumber}">
	        </div>
	        <div class="form-group">
	            <label for="preferredCommunication">Preferred Way to Communicate:</label>
	            <input type="text" id="preferredCommunication" th:field="*{preferredCommunication}">
	        </div>
	        <div class="form-group">
	            <label for="graduationYear">Graduation Year:</label>
	            <input type="text" id="graduationYear" th:field="*{graduationYear}">
	        </div>
	        <button type="submit">Submit</button>
	    </form>
 	</div>
 </div>
</body>
</html>
